#container {
  width: $content-width;
  max-width: 90%;
  margin: 120px auto 80px;

  span.iframe-container {
    display: block;
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    margin-bottom: 2.5em;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: $radius-md;
    }
  }

  audio {
    width: 100%;
    outline: none;
  }

  // Button styles using mixin
  a.btn {
    @include button-base;

    color: #fff;
    background-color: $color-black;

    &:visited {
      color: #fff;
    }

    &:hover {
      background-color: darken($color-black, 10%);
    }
  }

  a.btn-bmc {
    @include button-base;

    margin: $spacing-sm 0;
    color: $color-black;
    background-color: #f7d447;

    &:visited {
      color: $color-black;
    }

    &:hover {
      background-color: darken(#f7d447, 8%);
    }
  }

  ul,
  ol {
    margin-left: 0;
    padding-left: 2em;

    li {
      margin-bottom: 0.5em;
      line-height: $line-height;
    }
  }

  blockquote {
    padding-left: 15px;
    margin-bottom: $spacing-md;

    & > p {
      margin-left: -15px;
      padding: $spacing-md;
      background: $color-code-bg;
      border-left: 3px solid $color-border;
    }
  }

  .outer-box {
    display: block;
    font-size: 0.9em;
    padding: $spacing-lg;
    margin: $spacing-lg 0 $spacing-md;
    border: 1px solid $color-border;
    border-radius: $radius-md;

    h4 {
      margin-top: 0;
      margin-bottom: $spacing-md;

      &:not(:first-child) {
        margin-top: $spacing-lg;
      }
    }

    p:last-child {
      margin-bottom: 0;
    }
  }

  .taxonomy-button {
    display: inline-block;
    padding: 0 0.75em;
    vertical-align: text-bottom;
    border-radius: 4px;
    text-decoration: none;
    background-color: $color-border;
    color: $color-text;

    &:visited {
      color: $color-text;
      background-color: $color-border;
    }

    &:hover {
      background-color: $color-dark-blue;
      color: #fff;
      border-bottom-color: transparent;
    }
  }

  .light-black {
    color: $color-text-light;
  }

  /* Minimalistic series list for landing page */
  .article-series-list {
    margin: $spacing-md 0 $spacing-xl;
  }

  .article-series-item {
    border-bottom: 1px solid $color-border;

    &:last-child {
      border-bottom: none;
    }

    a {
      @include nav-link-styles;

      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0.75em 0;
      font-weight: 500;
    }

    .article-series-title {
      flex: 1;
    }

    .article-series-count {
      color: $color-text-light;
      font-size: 0.875em;
      font-weight: 500;
      background: $color-code-bg;
      padding: $spacing-xs $spacing-sm;
      border-radius: $radius-lg;
      min-width: 1.5em;
      text-align: center;
    }
  }

  dl.entry-list {
    a {
      @include nav-link-styles;
    }

    .date {
      display: inline-block;
    }

    dt {
      padding-top: $spacing-md;
      font-size: 0.875em;
      color: $color-text-light;
      font-weight: 500;
    }

    dd {
      margin: 0;
      padding: $spacing-xs 0 $spacing-md;
      font-weight: 600;
      font-size: 1.1em;
    }
  }

  // Subscribe form styles
  .subscribe-form {
    display: flex;
    gap: $spacing-sm;
    margin-bottom: $spacing-md;
    flex-wrap: wrap;

    input[type="email"] {
      flex: 1;
      min-width: 250px;
      padding: 0.75em 1em;
      border: 2px solid $color-border;
      border-radius: $radius-md;
      font-size: 0.9em;
      font-family: inherit;
      color: $color-text;
      background: #fff;
      transition: all $transition-fast;

      &:focus {
        outline: none;
        border-color: $color-dark-blue;
        box-shadow: 0 0 0 3px rgba(37, 99, 235, 0.1);
      }

      &::placeholder {
        color: $color-text-light;
      }
    }

    button[type="submit"] {
      @include button-base;

      color: #fff;
      background-color: $color-dark-blue;
      cursor: pointer;
      font-size: 0.9em;
      min-width: auto;
      padding: 0.75em 1.5em;

      &:hover {
        background-color: darken($color-dark-blue, 10%);
      }

      &:focus {
        outline: none;
        box-shadow: 0 0 0 3px rgba(37, 99, 235, 0.2);
      }

      i {
        margin-right: 0.5em;
      }
    }

    @media (max-width: 640px) {
      flex-direction: column;

      input[type="email"] {
        max-width: 100%;
      }

      button[type="submit"] {
        width: 100%;
      }
    }
  }

}
