footer {
  font-size: 0.8em;
  width: $content-width;
  height: 50px;
  margin: 0 auto;
  padding: 0;

  a {
    @include nav-link-styles;

    display: inline-block;
    margin: 0 8px;
    text-align: right;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    i.fas {
      vertical-align: middle;
    }
  }

  span {
    display: block;
    width: 100%;
    text-align: center;
    padding-bottom: $spacing-lg;
  }
}
