header {
  width: 100%;
  position: fixed;
  background: #fff;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.05);
  top: 0;
  left: 0;
  z-index: 100;
  transition: transform 0.4s ease;
}

.header-unpinned {
  transform: translateY(-150%);
}

nav {
  width: $content-width;
  margin: 0 auto;
  padding: 16px 0;

  a {
    display: inline-block;
    margin: 0 16px;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    text-align: right;
    font-weight: bold;
    color: $color-black;

    &:visited {
      color: $color-black;
    }

    &:hover {
      color: $color-black;
    }

    i.fas {
      vertical-align: middle;
    }
  }

  .left {
    vertical-align: middle;

    a {
      text-decoration: none;
    }

    img {
      width: 24px;
      vertical-align: middle;
    }
  }

  .nav-opener {
    display: none;
  }

  #nav-input {
    display: none;
  }

  .right {
    display: flex;
    align-items: center;
    height: 28px;
    float: right;
    position: relative;
    font-size: 0.9em;

    .lang-list {
      border: 0;
      margin-left: 16px;
      cursor: pointer;

      &:focus {
        outline: 0;
      }
    }
  }
}
