/* responsive */
@media screen and (width <= 960px) {
  body {
    width: 100%;
  }

  #container,
  footer,
  nav {
    padding: 0 5%;
    width: 90%;
  }

  nav {
    padding: 20px 0;
    flex-direction: row;
    justify-content: space-between;

    .hide-responsive {
      display: none;
    }

    .nav-opener {
      display: flex;
      align-items: center;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      font-size: 1.2em;
    }

    .right {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      z-index: 10;

      #nav-content {
        display: none;
        width: 100%;
        background: #fff;
        text-align: center;
        border-top: 1px solid $color-border;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.04);

        a,
        .lang-list {
          display: block;
          width: 100%;
          text-align: center;
          margin: 0;
          padding: 1em 0;
          border-bottom: 1px solid $color-border;
        }

        a:last-child {
          border-bottom: none;
        }

        .lang-list {
          margin-left: 0;
        }
      }

      #nav-input:checked ~ #nav-content {
        display: block;
      }
    }
  }
}
