article {
  margin: 0 auto 80px;

  h2 {
    margin-top: 0;
  }

  p.meta {
    margin-bottom: 2.5em;
    color: $color-text-light;
    font-size: 0.9em;

    a {
      @include nav-link-styles;

      color: $color-text-light;
      font-weight: 500;

      &:visited {
        color: $color-text-light;
      }
    }
  }

  .katex {
    font-size: $default-font-size;
  }

  img {
    display: block;
    margin: $spacing-xl 0;
    max-width: 100%;
    border-radius: $radius-md;
  }

  [id^="fn_"],
  [id*=" fn_"] {
    font-size: 0.875em;
    margin: $spacing-xl 0;
    color: $color-text-light;
  }
}
