{{ partial "header.html" . }}

<div id="container">

  <article>
    <p class="outer-box meta">
      <i class="fas fa-home"></i> <a href="{{ "/" | absLangURL }}">{{ i18n "home" }}</a>&nbsp;&nbsp;&gt;&nbsp;&nbsp;
      <i class="fas fa-pen"></i> <a href="{{ "/note" | absLangURL }}">{{ i18n "blog" }}</a>&nbsp;&nbsp;&gt;&nbsp;&nbsp;
      <a href="{{ .Permalink }}">{{ .Title }}</a>
    </p>
    {{ .Date.Format "2006-01-02" }}
    <h2>{{ .Title }}</h2>
    <div class="post">
      {{ partial "series.html" . }}
      {{- with .Params.audio }}<audio controls src="{{ index . 0 | absURL }}"></audio>{{ end }}
      {{ .Content }}
      {{ partial "series.html" . }}
      <span class="outer-box">
        <h4><i class="fas fa-share-alt"></i>&nbsp;&nbsp;{{ i18n "share" }}</h4>
        {{ partial "social.html" . }}
        <h4><i class="fas fa-folder-open"></i>&nbsp;&nbsp;{{ i18n "categories" }}</h4>
        <p>
          {{ range $i, $v := (.GetTerms "categories") }}
          <a href="{{ .Permalink }}" class="taxonomy-button">{{ .LinkTitle }}</a>
          {{ end }}
        </p>
        {{ partial "list-recommendations.html" . }}
        <p class="light-black">{{ i18n "lastModified" }}: {{ .Lastmod.Format "2006-01-02" }}</p>
      </span>
      <span class="outer-box">
        {{ partial "author.html" . }}
        {{ partial "now-button.html" . }}
        {{ partial "support.html" . }}
        {{ partial "disclaimer.html" . }}
      </span>
    </div>

  </article>
</div>

{{ partial "footer.html" . }}
