<footer>
  <div id="footer-content" class="clearfix">
    <div class="left">
      &copy; 2012 takuti.
    </div>
    <div class="right">
      <a href="http://twitter.com/takuti/"><span class="symbol">twitter </span></a>
      <a href="http://instagram.com/takuti"><span class="symbol">instagram </span></a>
      <a href="http://takuti.tumblr.com/"><span class="symbol">tumblr </span></a>
      <a href="https://github.com/takuti"><span class="symbol">github </span></a>
      <a href="http://book.akahoshitakuya.com/u/26710"><span class="symbol">book </span></a>
    </div>
  </div>
</footer>
