{{ partial "header.html" . }}

<div id="container">

<article>
  {{ if eq .Date .Lastmod }}
    {{ .Date.Format "January, 2006" }}
  {{ else if eq (.Date.Format "2006") (.Lastmod.Format "2006") }}
    {{ .Date.Format "Jan" }} - {{ .Lastmod.Format "Jan in 2006" }}
  {{ else }}
    {{ .Date.Format "2006" }} - {{ .Lastmod.Format "2006" }}
  {{ end }}
  <h2>{{ .Title }}</h2>

  <div class="post">
    {{ .Content }}
    <span class="outer-box">
      {{ partial "author.html" . }}
    </span>
  </div>

</article>
</div>

{{ partial "footer.html" . }}
