{{ partial "header.html" . }}

<div id="container">

<article>
  <p class="outer-box meta">
    <i class="fas fa-home"></i> <a href="{{ "/" | absLangURL }}">{{ i18n "home" }}</a>&nbsp;&nbsp;&gt;&nbsp;&nbsp;
    <i class="fas fa-briefcase"></i> <a href="{{ "/work" | absLangURL }}">{{ i18n "work" }}</a>&nbsp;&nbsp;&gt;&nbsp;&nbsp;
    <b>{{ .Params.meta }}</b>
  </p>
  {{ if eq .Date .Lastmod }}
    {{ .Date.Format "January, 2006" }}
  {{ else if eq (.Date.Format "2006") (.Lastmod.Format "2006") }}
    {{ .Date.Format "Jan" }} - {{ .Lastmod.Format "Jan in 2006" }}
  {{ else }}
    {{ .Date.Format "2006" }} - {{ .Lastmod.Format "2006" }}
  {{ end }}
  <h2>{{ .Title }}</h2>

  <div class="post">
    {{ .Content }}
    <span class="outer-box">
      {{ partial "author.html" . }}
    </span>
  </div>

</article>
</div>

{{ partial "footer.html" . }}
