{{ partial "header.html" . }}

<div id="container">

<article>
  <p class="outer-box meta">
    <a href="{{ "/" | absLangURL }}">Home</a>&nbsp;&nbsp;&gt;&nbsp;&nbsp;
    <a href="{{ "/note" | absLangURL }}">Blog</a>&nbsp;&nbsp;&gt;&nbsp;&nbsp;
    {{ range $i, $v := (.GetTerms "categories") }}
    {{ if not (eq $i 0) }}/ {{ end }}<a href="{{ .Permalink }}">{{ .LinkTitle }}</a>
    {{ end }}&nbsp;&nbsp;&gt;&nbsp;&nbsp;
    <a href="{{ .Permalink }}">{{ .Title }}</a>
  </p>
  <p>
    {{ .Date.Format "January 2, 2006" }}
  </p>
  <h2>{{ .Title }}</h2>

  <div class="post">
    {{ partial "social.html" . }}
    {{ .Content }}
    <span class="outer-box">
      {{ partial "author.html" . }}
    </span>
    {{ partial "social.html" . }}
    <span class="outer-box">
      {{ partial "list-recommendations.html" . }}
    </span>
  </div>

</article>
</div>

{{ partial "footer.html" . }}
