{{ partial "header.html" . }}

<section class="header-band">
  <span>
    <p class="title">{{ .Title }}</p>
    <p class="meta">
      {{ .Date.Format "2006-01-02" }}
      {{ range (.GetTerms "categories") }}
      / <a href="{{ .Permalink }}">{{ .LinkTitle }}</a>
      {{ end }}
    </p>
  </span>
</section>

<div id="container">

{{ if gt (sub (now.Unix) (.Date.Unix)) 604800 }}
{{ partial "ad-horizontal.html" . }}
{{ end }}

<article>

  <div class="post">
    {{ .Content }}
    {{ partial "social.html" . }}
  </div>

  {{ partial "ad-horizontal.html" . }}

  <h4><span class="symbol">search</span> See also</h4>
  {{ partial "list-recommendations.html" . }}

</article>
<!-- AMP -->
<amp-auto-ads type="adsense"
              data-ad-client="ca-pub-7190463694419594">
</amp-auto-ads>
{{ partial "author.html" . }}
</div>

{{ partial "footer.html" . }}
