{{ partial "header.html" . }}

<div id="container">

<article>
  <p class="meta">
    {{ .Date.Format "2006-01-02" }}
  </p>
  <h2>{{ .Title }}</h2>

  <div class="post">
    {{ .Content }}
    <a href="https://twitter.com/share" class="twitter-share-button" data-via="takuti">Tweet</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
  </div>

  <h4><span class="symbol">search</span> See also</h4>
  <ul>
  {{ if isset .Params "recommendations" }}
    {{ range where (where .Site.Pages "Section" "note") "RelPermalink" "in" .Params.recommendations }}
    <li><a href="{{ .Permalink }}">{{ .Title }}</a>
    {{ end }}
  {{ else }}
    {{ range first 3 (where (where .Site.Pages "Section" "note") "Permalink" "!=" .Page.Permalink) }}
    <li><a href="{{ .Permalink }}">{{ .Title }}</a>
    {{ end }}
  {{ end }}
  </ul>
  <a href="/note">&raquo; more</a>

</article>
<!-- AMP -->
<amp-auto-ads type="adsense"
              data-ad-client="ca-pub-7190463694419594">
</amp-auto-ads>
{{ partial "author.html" . }}
</div>

{{ partial "footer.html" . }}
