html, body {
  background: #fff;
  height: 100%;
  color: #6a6a6a;
  font-family: sans-serif;
  font-size: 13px;
  margin: 0px;
  padding: 0px;
}

#container {
  height: 100%;
}

#map {
  float: left;
  width: 65%;
  height: 100%;
}

#category-checkboxes {
  float: right;
  width: 35%;
  height: 100%;
}

.category-checkbox {
	display: inline-block;
	width: 15em;
}
