@charset 'UTF-8';

@import 'normalize.css';

// scss variable
$color-black: #333;
$color-dark-blue: #00496E;
$content-width: 800px;
$header-height: 50px;

html, body {
  background: #fff;
  height: 100%;
  color: $color-black;
  font-family: 'Noto Sans', sans-serif;
  font-size: 14px;
  margin: 0px;
  padding: 0px;
  line-height: 1.5;
}

h1, h2, h3, h4 {
  color: $color-dark-blue;
}

h3 {
  font-size: 1.1em;
  margin: 2em 0 1em 0;
  padding-bottom: 5px;
  border-bottom: 1px solid lighten( $color-black, 60% );
  & .symbol {
    font-weight: normal;
  }
}

a {
  color: $color-black;
  &:visited {
    color: $color-black;
  }
  &:hover {
    text-decoration: none;
  }
  &.bold {
    font-weight: bold;
    text-decoration: none;
  }
  &.nounderline {
    text-decoration: none;
  }

  &.post-style {
    color: lighten( $color-dark-blue, 20% );
    text-decoration: none;
    &:visited {
      color: lighten( $color-dark-blue, 20% );
    }
    &:hover {
      color: lighten( $color-dark-blue, 10% );
      text-decoration: underline;
    }
  }
}

article {
  margin: 0 auto 50px auto;
  .meta {
    font-size: 0.8em;
    color: lighten( $color-black, 20% );
    margin-bottom: 0;
  }
  h2 { // title
    font-size: 1.5em;
    margin: 0 0 2em 0;
  }
  .post {
    a {
      color: lighten( $color-dark-blue, 20% );
      text-decoration: none;
      &:visited {
        color: lighten( $color-dark-blue, 20% );
      }
      &:hover {
        color: lighten( $color-dark-blue, 10% );
        text-decoration: underline;
      }
    }
    img {
      display: block;
      margin: .5em 0;
      max-width: 100%;
    }
    hr {
      border: 0;
      border-top: 1px solid lighten( $color-black, 60% );;
    }
    table {
      margin: 0 auto;
      width: 100%;
      border-collapse: collapse;
      th{
        padding: 6px;
        text-align: left;
        vertical-align: top;
        background-color: lighten( $color-black, 70% );
        border: 1px solid lighten( $color-black, 50% );
      }
      td{
        padding: 6px;
        background-color: #fff;
        border: 1px solid lighten( $color-black, 50% );
      }
    }
  }
}

dl.entry-list {
  .date {
    display: inline-block;
  }
  dt {
    padding-top: 0.5em;
    font-size: 0.8em;
    color: lighten( $color-black, 40% );
  }
  dd {
    margin: 0;
    padding: 0 0 0.5em 0;
    font-size: 1.0em;
    a {
      font-weight: bold;
      text-decoration: none;
    }
  }
}

header {
  font-size: 1.2em;
  width: $content-width;
  margin: 0 auto;
  padding-top: 30px;
  .left a { text-decoration: none; }
  .right {
    color: lighten( $color-black, 40% );
    a {
      color: lighten( $color-black, 40% );
      text-decoration: none;
      &:visited { color: lighten( $color-black, 40% ); }
      &:hover { color: $color-black; }
    }
  }
  img {
    width: $header-height;
    border-radius: $header-height;
    -webkit-border-radius: $header-height;
    -moz-border-radius: $header-height;
  }
}

#container {
  width: $content-width;
  max-width: 90%;
  margin: 30px auto 50px auto;
  ul {
    margin-left: 0;
    padding-left: 1.5em;
    li {
      margin-bottom: .2em;
    }
  }
}

footer {
  text-align: center;
  font-size: 0.8em;
  width: $content-width;
  margin: 0 auto;
  margin-bottom: 1em;
}

.left {
  display: inline-block;
  float: left;
}
.right {
  display: inline-block;
  float: right;
}
.clearfix {
  zoom:1;
  &:after {
    content: "";
    display: block;
    clear: both;
  }
}

pre {
  font-family: Monaco, Menlo, Consolas, 'Courier New', monospace;
  font-size: 12px;
  display: block;
  padding: 9.5px;
  margin: 20px 0;
  background-color: #f5f5f5;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  white-space: pre;
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
}

code {
  font-family: Monaco, Menlo, Consolas, 'Courier New', monospace;
  font-size: 12px;
  padding: 0 .5em;
  background-color: #f5f5f5;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  white-space: pre;
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
}

blockquote {
  display: block;
  margin: 0;
  padding: 1em;
  background: #eee;
  white-space: pre;
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
  p {
    margin: 0;
    padding: 0;
  }
}

@font-face {
    font-family: 'LigatureSymbols';
    src: url('/fonts/LigatureSymbols-2.11.eot');
    src: url('/fonts/LigatureSymbols-2.11.eot?#iefix') format('embedded-opentype'),
         url('/fonts/LigatureSymbols-2.11.woff') format('woff'),
         url('/fonts/LigatureSymbols-2.11.ttf') format('truetype'),
         url('/fonts/LigatureSymbols-2.11.svg#LigatureSymbols') format('svg');
    src: url('/fonts/LigatureSymbols-2.11.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.symbol {
  font-family: 'LigatureSymbols';
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-size: 1.3em;
  line-height: 1.3em;
  display: inline-block;
  margin: 0 0.25em;
}

#me {
  dl:not(.entry-list) {
    dt {
      padding-top: 0.5em;
      a {
        font-weight: bold;
        text-decoration: none;
      }
    }
    dd {
      margin: 0;
      padding: 0 0 0.5em 0;
      font-size: 0.8em;
      color: lighten( $color-black, 40% );;
    }
  }

  img.emoji {
   height: 1em;
   width: 1em;
   margin: 0 .05em 0 .1em;
   vertical-align: -0.1em;
 }
}

/*--- responsive ---*/
@media screen and (max-width: 767px) {
  body {
    width: 100%;
  }
  #container, footer, nav {
    padding: 0 5%;
    width: 90%;
  }
  header {
    padding-right: 5%;
    padding-left: 5%;
    width: 90%;
  }
}
