<h4><i class="fas fa-user"></i>&nbsp;&nbsp;{{ i18n "author" }}: {{ .Site.Params.name }}</h4>
<p>
{{ .Site.Params.bio | safeHTML }} {{ i18n "disclaimer" }}
</p>
<p>
  <i class="fab fa-twitter"></i>&nbsp;&nbsp;<a href="http://twitter.com/takuti/" target="_blank" rel="noopener">twitter.com/<b>takuti</b></a><br />
  <i class="fab fa-linkedin"></i>&nbsp;&nbsp;<a href="http://linkedin.com/in/takuti" target="_blank" rel="noopener">linkedin.com/in/<b>takuti</b></a>
</p>
<p>
  <a href="https://www.buymeacoffee.com/takuti" class="btn" target="_blank" rel="noopener"><i class="fa fa-coffee"></i>&nbsp;&nbsp;{{ i18n "supportCoffee" }}</a>
  <a href="https://www.amazon.jp/hz/wishlist/ls/18KSCRB1ZR3W" class="btn" target="_blank" rel="noopener"><i class="fab fa-amazon"></i>&nbsp;&nbsp;{{ i18n "supportWishlist" }}</a>
</p>
