<!DOCTYPE html>
<html>
  <head>
    <meta name="google-site-verification" content="LuC5G9RgHqMbCs-j6JqTMh9NjBFDlnmtliW1JOyotbQ" />
    <meta charset="utf-8">
    <meta name=keywords content="{{ if .Keywords }}{{ range .Keywords }}{{ . }}, {{ end }}{{ else }}takuti,たくち{{ end }}" />
    <meta name=description content="{{ .Description }}" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
      {{ if eq .Title .Site.Title }}
        {{ .Site.Title }}
      {{ else }}
        {{ .Title }} | {{ .Site.Title }}
      {{ end }}
    </title>

    <link href='http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/style/style.css">
    <link href="/google-code-prettify/tomorrow-night-eighties.css" rel="stylesheet">

    <link rel="shortcut icon" href="/images/favicon.ico" />
    <link rel="alternate" type="application/atom+xml" title="takuti.me" href="/index.xml" />

    <script src="//twemoji.maxcdn.com/twemoji.min.js"></script>
    <script>
      var emoji = function(unicode) {
        document.write(" <img src='http://twemoji.maxcdn.com/36x36/" + unicode + ".png' class='emoji' alt='emoji' /> ");
      };
    </script>
  </head>
  <body>
    <header class="clearfix">
      <span class="left"><a href="/"><b>takuti</b>.me</a></span>
      <span class="right">
        <a href="/" title="about me"><span class="symbol">user</span></a> |
        <a href="http://twitter.com/takuti/" title="Twitter" target="blank"><span class="symbol">twitter</span></a>
        <a href="https://github.com/takuti" title="GitHub" target="blank"><span class="symbol">github</span></a>
        <a href="http://linkedin.com/in/takuti" title="LinkedIn" target="blank"><span class="symbol">linkedin</span></a>
        <a href="https://instagram.com/takuti/" title="Instagram" target="blank"><span class="symbol">instagram</span></a>
        <a href="http://takuti.tumblr.com/" title="Tumblr" target="blank"><span class="symbol">tumblr</span></a>
      </span>
    </header>

    <div id="container">
