<!DOCTYPE html>
<html>
  <head>
    <meta name="google-site-verification" content="LuC5G9RgHqMbCs-j6JqTMh9NjBFDlnmtliW1JOyotbQ" />
    <meta charset="utf-8">
    <meta name=keywords content="{{ if .Keywords }}{{ range .Keywords }}{{ . }}, {{ end }}{{ else }}takuti,たくち{{ end }}" />
    <meta name=description content="{{ .Description }}" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
      {{ if eq .Title .Site.Title }}
        {{ .Site.Title }}
      {{ else }}
        {{ .Title }} | {{ .Site.Title }}
      {{ end }}
    </title>

    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/KaTeX/0.7.1/katex.min.css" integrity="sha384-wITovz90syo1dJWVh32uuETPVEtGigN07tkttEqPv+uR2SE/mbQcG7ATL28aI9H0" crossorigin="anonymous">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/atom-one-light.min.css">
    <link rel="shortcut icon" href="/images/favicon.ico" />
    <link rel="alternate" type="application/atom+xml" title="takuti.me" href="/index.xml" />
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
         (adsbygoogle = window.adsbygoogle || []).push({
              google_ad_client: "ca-pub-7190463694419594",
              enable_page_level_ads: true
         });
    </script>
  </head>
  <body>
    <header class="clearfix">
      <span class="left"><a href="/"><b>takuti</b>.me</a></span>
      <span class="right"><a href="/about"><b>ABOUT</b></a></span>
    </header>
