<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">
  <head>
    <meta name="google-site-verification" content="LuC5G9RgHqMbCs-j6JqTMh9NjBFDlnmtliW1JOyotbQ" />
    <meta charset="utf-8">
    <meta name="keywords" content="{{ if .Keywords }}{{ range .Keywords }}{{ . }},{{ end }}{{ else }}{{ .Site.Params.keywords }}{{ end }}" />
    {{ if .IsPage }}
    <meta name="description" content="{{ .Summary | plainify | truncate 160 }}" />
    {{ else if .IsHome }}
    <meta name="description" content="{{ .Site.Params.homeDescription }}" />
    {{ else }}
    <meta name="description" content="{{ .Site.Params.bio | plainify }}" />
    {{ end }}
    <meta name="author" content="{{ .Site.Params.author }}">
    <meta name="robots" content="index, follow">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light">

    <!-- Additional SEO meta tags -->
    {{ if .IsPage }}
    <meta name="article:author" content="{{ .Site.Params.author }}">
    <meta name="article:published_time" content="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
    <meta name="article:modified_time" content="{{ .Lastmod.Format "2006-01-02T15:04:05Z07:00" }}">
    {{ if .Params.categories }}
    {{ range .Params.categories }}
    <meta name="article:section" content="{{ . }}">
    {{ end }}
    {{ end }}
    {{ end }}

    <!-- Additional meta tag for follow.it verification -->
    {{ if eq .RelPermalink "/note/" }}
    <meta name="follow.it-verification-code" content="XsfQdyB7Nr1Epv87jHBk"/>
    {{ else if eq .RelPermalink "/ab/" }}
    <meta name="follow.it-verification-code" content="pvKz8MlSa4z2rNDmmh7j"/>
    {{ end }}

    <!-- Preconnect to external domains for performance -->
    <link rel="preconnect" href="//cdnjs.cloudflare.com" crossorigin>
    <link rel="dns-prefetch" href="//cdnjs.cloudflare.com">

    <title>
      {{ if eq .Title .Site.Title }}
        {{ .Site.Title }}
      {{ else }}
        {{ .Title }} | {{ .Site.Title }}
      {{ end }}
    </title>

    {{ template "_internal/opengraph.html" . }}

    {{ if .Params.images }}
    {{ template "_internal/twitter_cards.html" . }}
    {{ end }}

    {{ with resources.Get "sass/style.scss" }}
    {{ $style := . | css.Sass (dict "outputStyle" "compressed") | fingerprint }}
    <link rel="stylesheet" href="{{ $style.Permalink }}">
    {{ end }}

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/KaTeX/0.7.1/katex.min.css" integrity="sha384-wITovz90syo1dJWVh32uuETPVEtGigN07tkttEqPv+uR2SE/mbQcG7ATL28aI9H0" crossorigin="anonymous">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/atom-one-dark.min.css">
    <link rel="shortcut icon" href="/images/favicon/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="/images/favicon/site.webmanifest">
    <link rel="mask-icon" href="/images/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    {{ with .OutputFormats.Get "rss" -}}
      {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
    {{ end -}}

  </head>
  <body>
    {{ partial "menu.html" . }}
