<h4><i class="fas fa-search"></i>&nbsp;&nbsp;See also</h4>
<dl class="entry-list">
{{ if isset .Params "recommendations" }}
  {{ range where (where .Site.RegularPages "Section" "note") "RelPermalink" "in" .Params.recommendations }}
  <dt>
  <span class="date">
    {{ .Date.Format "2006-01-02" }}
  </span>
  </dt>
  <dd>
    <a href="{{ .Permalink }}">{{ .Title }}</a>
  </dd>
  {{ end }}
{{ else }}
  {{ range first 3 (where (where .Site.RegularPages "Section" "note") "Permalink" "!=" .Page.Permalink) }}
  <dt>
  <span class="date">
    {{ .Date.Format "2006-01-02" }}
  </span>
  </dt>
  <dd>
    <a href="{{ .Permalink }}">{{ .Title }}</a>
  </dd>
  {{ end }}
{{ end }}
</dl>
