<header>
  <nav>
  <span class="left">
    <a href="{{ "/" | absLangURL }}"><img src="/images/logo.png" alt="icon" />&nbsp;&nbsp;takuti.me</a>
  </span>
  <span class="right">
    <a href="{{ "/" | absLangURL }}">About</a>
    <span class="menu__single">
      <a href="{{ "/note" | absLangURL }}" class="init-bottom">Blog&nbsp;&nbsp;<i class="fas fa-angle-down"></i></a>
      <ul class="menu__second-level">
        {{range ($.Site.GetPage "taxonomyTerm" "categories").Pages }}
         <li><a href="{{.Permalink}}">{{.Title}}</a>
        {{end}}
      </ul>
    </span>
    {{ if .IsTranslated }}
      {{ range .Translations }}
        <a href="{{ .RelPermalink }}"><i class="fas fa-language fa-2x"></i></a>
      {{ end }}
    {{ else }}
        <a href={{ if eq .Site.Language.Lang "ja" }}"/"{{ else }}"/ja"{{ end }}><i class="fas fa-language fa-2x"></i></a>
    {{ end }}
  </span>
  </nav>
</header>
