<form class="subscribe-form" method="post" onsubmit="redirectToSubscribe(event)">
    <input type="email" name="email" id="email" placeholder="Your email address" required>
    <button type="submit"><i class="fas fa-paper-plane"></i>{{ i18n "subscribe" }}</button>
    <script>
        function redirectToSubscribe(event) {
            event.preventDefault();
            const email = document.getElementById('email').value;
            if (email) {
                window.location.href = `https://magic.beehiiv.com/v1/ebbd879e-000a-4c4d-95fa-f1c926b52df7?email=${encodeURIComponent(email)}`;
            }
        }
    </script>
</form>
