{{ partial "header.html" . }}

<div id="container">

<section>
  <h2>{{ .Site.Params.greeting | safeHTML }}</h2>
  <p>{{ .Site.Params.bio | safeHTML }}</p>
  <p style="font-size: 0.8em;">
    {{ partial "support.html" . }}
  </p>
</section>

<section>
  {{ partial "list-work.html" . }}
</section>

<section>
  {{ partial "list-recent-notes.html" . }}
  <a class="btn" href="http://takuti.hatenablog.com/" target="_blank" rel="noopener"><i class="fas fa-rss"></i>&nbsp;&nbsp;はてなブログ</a>
</section>

</div>

{{ partial "footer.html" . }}
