{{ partial "header.html" . }}

<div id="container">

<section>
  <h2>&#x1f44b; Hi, I'm Takuya</h2>
  <p>{{ .Site.Params.bio | safeHTML }}</p>
  <span class="iframe-container">
    <iframe src="https://www.youtube.com/embed/videoseries?list=PLlPB-75bA51dGSvPdvkciCrQEi266Xjha" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </span>
  <p>学生時代にWeb開発からこの世界に入り、2013年ごろからは特に機械学習のアプリケーション応用を研究しています。修士論文は推薦システムとストリームデータ処理。<a href="https://github.com/apache/incubator-hivemall/" target="_blank" rel="noopener">Apache Hivemall</a> (Incubating) コミッター。最近の興味はUXデザインと可視化。<a href="https://speakerdeck.com/takuti/machine-learning-and-natural-language-processing-on-treasure-cdp" target="_blank" rel="noopener">機械学習ベースのプロダクト</a>を開発したり、<a href="#work">国際学会・カンファレンス</a>で発表したりしています。</p>
  <p>
    <i class="fas fa-envelope"></i>&nbsp;&nbsp;k.<b>takuti</b> at gmail.com<br />
    <i class="fas fa-comments"></i>&nbsp;&nbsp;<a href="https://www.buymeacoffee.com/takuti/e/42766" target="_blank" rel="noopener">{{ i18n "setupCall" }}</a>
  </p>
  <p>
    <i class="fab fa-twitter"></i>&nbsp;&nbsp;<a href="http://twitter.com/takuti/" target="_blank" rel="noopener">twitter.com/<b>takuti</b></a><br />
    <i class="fab fa-github"></i>&nbsp;&nbsp;<a href="https://github.com/takuti" target="_blank" rel="noopener">github.com/<b>takuti</b></a><br />
    <i class="fab fa-speaker-deck"></i>&nbsp;&nbsp;<a href="https://speakerdeck.com/takuti" target="_blank" rel="noopener">speakerdeck.com/<b>takuti</b></a><br />
    <i class="fab fa-linkedin"></i>&nbsp;&nbsp;<a href="http://linkedin.com/in/takuti" target="_blank" rel="noopener">linkedin.com/in/<b>takuti</b></a><br />
    <i class="fab fa-instagram"></i>&nbsp;&nbsp;<a href="https://instagram.com/takuti/" target="_blank" rel="noopener">instagram.com/<b>takuti</b></a><br />
    <i class="fas fa-rss"></i>&nbsp;&nbsp;<a href="http://takuti.hatenablog.com/" target="_blank" rel="noopener"><b>takuti</b>.hatenablog.com</a>
  </p>

  <a href="/cv/" class="btn"><i class="fas fa-angle-right"></i>&nbsp;&nbsp;レジュメを見る</a>
</section>

<section>
  <h2>Articles</h2>
  {{ partial "list-recent-notes.html" . }}
</section>

<section>
  <h2 id="work">Work</h2>
  {{ partial "list-work.html" . }}
</section>

</div>

{{ partial "footer.html" . }}
