{{ partial "header.html" . }}

<div id="container">

<section>
  <h2>&#x1f44b; Hi, I'm Takuya</h2>
  <p>{{ .Site.Params.bio | safeHTML }}</p>
  <span class="iframe-container">
    <iframe src="https://www.youtube.com/embed/videoseries?list=PLlPB-75bA51dGSvPdvkciCrQEi266Xjha" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </span>
  <p>I'm passionate about bridging a gap between scientific theory and real-world practice in industry. Throughout my career, I have practically acted as a data scientist, technical evangelist, sales engineer, product manager, machine learning engineer, and software engineer through the experience of contributing to <a href="https://github.com/apache/incubator-hivemall/" target="_blank" rel="noopener">OSS for scalable ML</a>, building <a href="https://speakerdeck.com/takuti/machine-learning-and-natural-language-processing-on-treasure-cdp" target="_blank" rel="noopener">out-of-the-box ML application</a>, presenting at <a href="#work">conferences</a>, and working on a variety of customer-facing opportunities.</p>
  <p>
    <i class="fas fa-envelope"></i>&nbsp;&nbsp;k.<b>takuti</b> at gmail.com<br />
  </p>
  <p>
    <i class="fab fa-twitter"></i>&nbsp;&nbsp;<a href="http://twitter.com/takuti/" target="_blank" rel="noopener">twitter.com/<b>takuti</b></a><br />
    <i class="fab fa-github"></i>&nbsp;&nbsp;<a href="https://github.com/takuti" target="_blank" rel="noopener">github.com/<b>takuti</b></a><br />
    <i class="fab fa-speaker-deck"></i>&nbsp;&nbsp;<a href="https://speakerdeck.com/takuti" target="_blank" rel="noopener">speakerdeck.com/<b>takuti</b></a><br />
    <i class="fab fa-linkedin"></i>&nbsp;&nbsp;<a href="http://linkedin.com/in/takuti" target="_blank" rel="noopener">linkedin.com/in/<b>takuti</b></a><br />
    <i class="fab fa-instagram"></i>&nbsp;&nbsp;<a href="https://instagram.com/takuti/" target="_blank" rel="noopener">instagram.com/<b>takuti</b></a>
  </p>

  <a href="/cv/" class="btn"><i class="fas fa-angle-right"></i>&nbsp;&nbsp;See my resume</a>
  <a href="https://www.buymeacoffee.com/takuti/e/42766" class="btn" target="_blank" rel="noopener"><i class="fa fa-comments"></i>&nbsp;&nbsp;{{ i18n "setupCall" }}</a>
</section>

<section>
  <h2>Articles</h2>
  {{ partial "list-recent-notes.html" . }}
</section>

<section>
  <h2 id="work">Work</h2>
  {{ partial "list-work.html" . }}
</section>

</div>

{{ partial "footer.html" . }}
