{{ partial "header.html" . }}

<div id="container">

<section>
  <h2>{{ .Site.Params.greeting | safeHTML }}</h2>
  <p>{{ .Site.Params.bio | safeHTML }}</p>
  <span class="iframe-container">
    <iframe src="https://www.youtube.com/embed/videoseries?list=PLlPB-75bA51dGSvPdvkciCrQEi266Xjha" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </span>
  <p>I'm passionate about bridging a gap between scientific theory and real-world practice in industry. The previous contribution includes but is not limited to <a href="https://github.com/apache/incubator-hivemall/" target="_blank" rel="noopener">developing <b>OSS for scalable ML</b></a>, <a href="https://speakerdeck.com/takuti/machine-learning-and-natural-language-processing-on-treasure-cdp" target="_blank" rel="noopener">building <b>out-of-the-box ML application</b></a>, <a href="https://scholar.google.com/citations?user=4GzRikkAAAAJ" target="_blank" rel="noopener">writing <b>academic papers</b></a>, <a href="/work/">presenting at <b>tech conferences</b></a>, and working on customer-facing opportunities in a variety of industries such as online media, gaming, retail and supply chain.</p>
  <p>
    <i class="fas fa-envelope"></i>&nbsp;&nbsp;<a href="mailto:hello@takuti.me">hello@takuti.me</a><br />
    <i class="fas fa-calendar"></i>&nbsp;&nbsp;<a href="https://calendly.com/takuti/meet" target="_blank" rel="noopener">{{ i18n "setupCall" }}</a>
  </p>
  <p>
    <i class="fab fa-twitter"></i>&nbsp;&nbsp;<a href="http://twitter.com/takuti/" target="_blank" rel="noopener">twitter.com/<b>takuti</b></a><br />
    <i class="fab fa-github"></i>&nbsp;&nbsp;<a href="https://github.com/takuti" target="_blank" rel="noopener">github.com/<b>takuti</b></a><br />
    <i class="fab fa-speaker-deck"></i>&nbsp;&nbsp;<a href="https://speakerdeck.com/takuti" target="_blank" rel="noopener">speakerdeck.com/<b>takuti</b></a><br />
    <i class="fab fa-linkedin"></i>&nbsp;&nbsp;<a href="http://linkedin.com/in/takuti" target="_blank" rel="noopener">linkedin.com/in/<b>takuti</b></a><br />
  </p>

  <a href="/cv/" class="btn"><i class="fas fa-angle-right"></i>&nbsp;&nbsp;See my resume</a>
</section>

<section>
  <h2>{{ i18n "blog" }}</h2>
  {{ partial "list-recent-notes.html" . }}
</section>

<section>
  <h2>{{ i18n "work" }}</h2>
  {{ partial "list-work.html" . }}
</section>

</div>

{{ partial "footer.html" . }}
