@import url(normalize.css);
html, body {
  background: #fff;
  height: 100%;
  color: #333;
  font-family: 'Noto Sans', sans-serif;
  font-size: 14px;
  margin: 0px;
  padding: 0px;
  line-height: 1.5; }

h1, h2, h3, h4 {
  color: #00496E; }
  h1 .symbol, h2 .symbol, h3 .symbol, h4 .symbol {
    font-weight: normal; }

h3 {
  font-size: 1.1em;
  margin: 2em 0 1em 0;
  padding-bottom: 5px;
  border-bottom: 1px solid #cccccc; }

a {
  color: #333; }
  a:visited {
    color: #333; }
  a:hover {
    text-decoration: none; }
  a.bold {
    font-weight: bold;
    text-decoration: none; }
  a.nounderline {
    text-decoration: none; }
  a.post-style {
    color: #008dd4;
    text-decoration: none; }
    a.post-style:visited {
      color: #008dd4; }
    a.post-style:hover {
      color: #006ba1;
      text-decoration: underline; }

article {
  margin: 0 auto 50px auto; }
  article .meta {
    font-size: 0.8em;
    color: #666666;
    margin-bottom: 0; }
  article h2 {
    font-size: 1.5em;
    margin: 0 0 2em 0; }
  article .post a {
    color: #008dd4;
    text-decoration: none; }
    article .post a:visited {
      color: #008dd4; }
    article .post a:hover {
      color: #006ba1;
      text-decoration: underline; }
  article .post img {
    display: block;
    margin: .5em 0;
    max-width: 100%; }
  article .post hr {
    border: 0;
    border-top: 1px solid #cccccc; }
  article .post table {
    margin: 0 auto;
    width: 100%;
    border-collapse: collapse; }
    article .post table th {
      padding: 6px;
      text-align: left;
      vertical-align: top;
      background-color: #e6e6e6;
      border: 1px solid #b3b3b3; }
    article .post table td {
      padding: 6px;
      background-color: #fff;
      border: 1px solid #b3b3b3; }

dl.entry-list .date {
  display: inline-block; }

dl.entry-list dt {
  padding-top: 0.5em;
  font-size: 0.8em;
  color: #999999; }

dl.entry-list dd {
  margin: 0;
  padding: 0 0 0.5em 0;
  font-size: 1.0em; }
  dl.entry-list dd a {
    font-weight: bold;
    text-decoration: none; }

header {
  width: 800px;
  margin: 0 auto;
  padding-top: 30px; }
  header .left {
    font-size: 1.2em;
    width: 50%; }
    header .left a {
      text-decoration: none; }
  header .right {
    font-size: 1em;
    width: 50%;
    text-align: right; }
    header .right a {
      text-decoration: none; }

img.icon-circle {
  width: 80px;
  max-width: 80%;
  border-radius: 80px;
  -webkit-border-radius: 80px;
  -moz-border-radius: 80px; }

#container {
  width: 800px;
  max-width: 90%;
  margin: 30px auto 50px auto; }
  #container ul {
    margin-left: 0;
    padding-left: 1.5em; }
    #container ul li {
      margin-bottom: .2em; }

footer {
  font-size: 0.8em;
  width: 800px;
  height: 50px;
  margin: 0 auto;
  padding: 0; }

.left {
  display: inline-block;
  float: left;
  margin: 0;
  padding: 0; }

.right {
  display: inline-block;
  float: right;
  margin: 0;
  padding: 0; }

.clearfix {
  zoom: 1; }
  .clearfix:after {
    content: "";
    display: block;
    clear: both; }

pre {
  font-family: Monaco, Menlo, Consolas, 'Courier New', monospace;
  font-size: 12px;
  display: block;
  padding: 9.5px;
  margin: 20px 0;
  background-color: #f5f5f5;
  white-space: pre;
  white-space: pre-wrap;
  word-break: break-word;
  word-wrap: break-word; }

code {
  font-family: Monaco, Menlo, Consolas, 'Courier New', monospace;
  font-size: 12px;
  background-color: #f5f5f5;
  white-space: pre;
  white-space: pre-wrap;
  word-break: break-word;
  word-wrap: break-word; }

blockquote {
  display: block;
  margin: 0;
  padding: 1em;
  background: #eee;
  white-space: pre;
  white-space: pre-wrap;
  word-break: break-word;
  word-wrap: break-word; }
  blockquote p {
    margin: 0;
    padding: 0; }

@font-face {
  font-family: 'LigatureSymbols';
  src: url("/fonts/LigatureSymbols-2.11.eot");
  src: url("/fonts/LigatureSymbols-2.11.eot?#iefix") format("embedded-opentype"), url("/fonts/LigatureSymbols-2.11.woff") format("woff"), url("/fonts/LigatureSymbols-2.11.ttf") format("truetype"), url("/fonts/LigatureSymbols-2.11.svg#LigatureSymbols") format("svg");
  src: url("/fonts/LigatureSymbols-2.11.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

.symbol {
  font-family: 'LigatureSymbols';
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-size: 1.3em;
  line-height: 1.3em;
  display: inline-block;
  margin: 0 0.25em; }

.self img {
  max-width: 100%;
  height: auto; }

.self .right {
  width: 70%;
  margin-top: 1em; }

.self .left {
  width: 26%;
  margin-top: 1em; }

/*--- responsive ---*/
@media screen and (max-width: 960px) {
  body {
    width: 100%; }
  #container, footer, nav {
    padding: 0 5%;
    width: 90%; }
  header {
    padding-right: 5%;
    padding-left: 5%;
    width: 90%; } }

@media screen and (max-width: 600px) {
  #me .projects .left {
    width: 100%; }
  #me .projects .right {
    width: 100%; } }
