<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name=keywords content="takuti,たくち" />
    <meta name=description content="An undergraduate studying Computer Science in Japan." />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1">
    <title>
      {% if page.title == 'TOP' %}
      takuti.me
      {% else %}
      {{ page.title }} | takuti.me
      {% endif %}
    </title>
    <link href='http://fonts.googleapis.com/css?family=Cabin+Sketch:400,700' rel='stylesheet' type='text/css'>
    <link href="/styles/style.css" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="/images/favicon.ico" />
    <script type="text/javascript" src="//use.typekit.net/wzo1rmb.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  </head>
  <body>
    <div id="wrapper">
      <!--
      {% include header.html %}
      {% include nav.html %}
      -->
      <div id="container" class="clearfix">
        {{ content }}
      </div>
      {% include footer.html %}
    </div>
      {% include ga.html %}
  </body>
</html>
