{{ partial "header.html" . }}

<div id="container">

<h3><i class="fas fa-pen"></i> {{ i18n "blog" }}</h3>
<p>
{{ .Site.Params.BlogDescription }}
</p>

<span class="outer-box">
<h4><i class="fas fa-star"></i>&nbsp;&nbsp;{{ i18n "popularArticles" }}</h4>
<p>
<dl class="entry-list">
  {{ range where (where .Site.RegularPages "Section" "note") "RelPermalink" "in" .Site.Params.featured }}
  <dt>
  <span class="date">
    {{ .Date.Format "2006-01-02" }}
  </span>
  </dt>
  <dd>
    <a href="{{ .Permalink }}">{{ .Title }}</a>
  </dd>
  {{ end }}
</dl>
</p>
<h4><i class="fas fa-folder-open"></i>&nbsp;&nbsp;{{ i18n "categories" }}</h4>
<p>
{{ range .Site.Taxonomies.categories }}
  <a href="{{.Page.Permalink}}" class="taxonomy-button">{{.Page.Title}} ({{.Count}})</a>
{{ end }}
</p>
<h4><i class="fas fa-book"></i>&nbsp;&nbsp;{{ i18n "series" }}</h4>
<p>
{{ range .Site.Taxonomies.series }}
  <a href="{{.Page.Permalink}}" class="taxonomy-button">{{.Page.Title}} ({{.Count}})</a>
{{ end }}
</p>
</span>

<dl class="entry-list">
  {{ range (where .Data.Pages "Section" "note")}}
  <dt>
  <span class="date">
    {{ .Date.Format "2006-01-02" }}
  </span>
  </dt>
  <dd>
    <a href="{{ .Permalink }}">{{ .Title }}</a>
  </dd>
{{ end }}
</dl>

</div>

{{ partial "footer.html" . }}
