@charset "UTF-8";
@font-face {
    font-family: 'LigatureSymbols';
    src: url('/fonts/LigatureSymbols-2.11.eot');
    src: url('/fonts/LigatureSymbols-2.11.eot?#iefix') format('embedded-opentype'),
         url('/fonts/LigatureSymbols-2.11.woff') format('woff'),
         url('/fonts/LigatureSymbols-2.11.ttf') format('truetype'),
         url('/fonts/LigatureSymbols-2.11.svg#LigatureSymbols') format('svg');
    src: url('/fonts/LigatureSymbols-2.11.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/*--- init ---*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin:0; padding:0; border:0; font-weight:inherit; font-style:inherit; font-size:100%; font-family:inherit; vertical-align:baseline;
}
body{
  line-height:1.5; background:#fff; margin:1.5em 0;
}
table{
  border-collapse:separate; border-spacing:0;
}
caption, th, td{
  text-align:left; font-weight:400;
}
blockquote:before, blockquote:after, q:before, q:after {
  content:"";
}
blockquote, q{
  quotes:"" "";
}
a img{
  border:none;
}


/*--- style ---*/
html, body{
  background: #fff;
  height: 100%;
  color: #344;
  font-family:'Source Sans Pro','ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
  font-size: 18px;
  margin: 0px;
  padding: 0px;
}

a:link    { color: #344; }
a:visited { color: #344; }
a:hover   { text-decoration: none; }

section {
  width: 450px;
  margin-bottom: 3em;
  float: right;
}
p { margin: 0 0 1em 1em; }


h3 {
  font-size: 1.2em;
  border-left: 5px solid #344;
  padding-left: 10px;
  margin-bottom: 1em;
}

ul {
  margin-left: 2em;
  list-style-type: square;
}

/*--- layout ---*/
header {
  width: 100%;
  background: #344;
  position: fixed;
  top: 0; left: 0;
  z-index: 99;
}

  header #header-content {
    color: #fff;
    width: 700px;
    height: 45px;
    margin: 0 auto;
    padding: 10px;
  }
    header #header-content .left {
      float: left;
      width: 280px;
    }
      header #header-content .left a {
        color: #9aa;
        text-decoration: none;
        line-height: 45px;
      }
      header #header-content .left a:visited { color: #9aa; }
      header #header-content .left a:hover { text-decoration: none; }
    header #header-content .right {
      float: right;
      width: 400px;
      text-align: right;
    }
      header #header-content .right a {
        display: inline-block;
        margin-left: 2.5em;
        color: #ccc;
        text-decoration: none;
        line-height: 45px;
      }
      header #header-content .right a:visited { color: #ccc; }
      header #header-content .right a:hover {
        color: #fff;
        text-decoration: none;
      }

#container {
  width: 700px;
  margin: 0 auto;
  padding-top: 120px;
}

.clearfix {zoom:1;}
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

/*--- fonts ---*/
.bold { font-weight:bold; }

.symbol {
  font-family: 'LigatureSymbols';
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-size: 1.3em;
  line-height: 1.3em;
}
