---
---

@charset "UTF-8";

@import "normalize.css";

// scss variable
$primary-color: #344;
$header-height: 45px;

/*--- style ---*/
html, body {
  background: #fff;
  height: 100%;
  color: $primary-color;
  font-family:'Source Sans Pro','ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
  font-size: 18px;
  margin: 0px;
  padding: 0px;
}

a {
  color: $primary-color;
  &:visited {
    color: $primary-color;
  }
  &:hover {
    text-decoration: none;
  }
}

section {
  width: 450px;
  margin-bottom: 3em;
  float: right;
  p {
    margin: 0 0 1em 1em;
  }
  h3 {
    font-size: 1.2em;
    border-left: 5px solid $primary-color;
    padding-left: 10px;
    margin: 0;
    margin-bottom: 1em;
  }
  ul {
    list-style-type: square;
  }
}


/*--- layout ---*/
header {
  width: 100%;
  background: $primary-color;
  position: fixed;
  top: 0; left: 0;
  z-index: 99;

  #header-content {
    color: #fff;
    width: 700px;
    height: $header-height;
    margin: 0 auto;
    padding: 10px;

    .left {
      float: left;
      width: 200px;

      a {
        color: #677;
        text-decoration: none;
        line-height: $header-height;
        display: inline-block;
        margin-right: 2.5em;
        &:visited {
          color: #677;
        }
      }

    }

    .right {
      float: right;
      width: 480px;
      text-align: right;

      a {
        display: inline-block;
        margin-left: 2.5em;
        color: #ccc;
        text-decoration: none;
        line-height: $header-height;
        &:visited {
          color: #ccc;
        }
        &:hover {
          color: #fff;
        }
      }
    }

  }
}

#container {
  width: 700px;
  margin: 0 auto;
  padding-top: 120px;
}

.clearfix {
  zoom:1;
  &:after {
    content: "";
    display: block;
    clear: both;
  }
}

/*--- fonts ---*/
.bold { font-weight:bold; }


@font-face {
    font-family: 'LigatureSymbols';
    src: url('/fonts/LigatureSymbols-2.11.eot');
    src: url('/fonts/LigatureSymbols-2.11.eot?#iefix') format('embedded-opentype'),
         url('/fonts/LigatureSymbols-2.11.woff') format('woff'),
         url('/fonts/LigatureSymbols-2.11.ttf') format('truetype'),
         url('/fonts/LigatureSymbols-2.11.svg#LigatureSymbols') format('svg');
    src: url('/fonts/LigatureSymbols-2.11.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.symbol {
  font-family: 'LigatureSymbols';
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-size: 1.3em;
  line-height: 1.3em;
}
