---
---

@charset "UTF-8";

@import "normalize.css";

// scss variable
$primary-color: #555;
$sub-color: #888;
$sub-sub-color: #bbb;
$sub-sub-sub-color: #ddd;
$content-width: 700px;
$header-height: 45px;
$footer-height: 45px;

/*--- style ---*/
html, body {
  background: #fff;
  height: 100%;
  color: $primary-color;
  font-family: 'museo sans','ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.9;
  margin: 0px;
  padding: 0px;
}

a {
  color: $primary-color;
  &:visited {
    color: $primary-color;
  }
  &:hover {
    text-decoration: none;
  }
}

.left { float: left; }
.right { float: right; }

section {
  width: $content-width;
  margin-bottom: 3em;
  p {
    margin: 0;
    margin-bottom: 1em;
  }
  h3 {
    padding-bottom: 15px;
    font-size: 1.3em;
    font-weight: 900;
    margin: 0;
    margin-bottom: 1em;
    line-height: 0;
  }
  ul {
    list-style-type: square;
    padding-left: 1em;
  }
}

section#profile {
  text-align: center;
  a {
    color: $primary-color;
    &:visited {
      color: $primary-color;
    }
  }
  img#icon {
    width: 100px;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    margin: 0 auto $header-height/4 auto;
  }
  /* balloon-1 top */
  #balloon-1-top {
    color: $primary-color;
    position: relative;
    display: inline-block;
    padding: 16px;
    min-width: 115px;
    line-height: 32px;
    text-align: center;
    background: #fff;
    border: 1px solid $sub-sub-color;
    z-index: 0;
  }
  #balloon-1-top:before {
    content: "";
    position: absolute;
    top: -8px; left: 50%;
    margin-left: -9px;
    display: block;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0 9px 9px 9px;
    border-color: transparent transparent #fff transparent;
    z-index: 0;
  }
  #balloon-1-top:after {
    content: "";
    position: absolute;
    top: -10px; left: 50%;
    margin-left: -10px;
    display: block;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent $sub-sub-color transparent;
    z-index: -1;
  }
}

/*--- layout ---*/
header {
  width: $content-width;
  height: $header-height;
  margin: 0 auto;
  padding: $header-height/2 0 $header-height/4 0;
  text-align: center;

  h1 {
    font-size: 2em;
    font-weight: normal;
    margin: 0;
    a {
      .light {
        color: $sub-sub-color;
      }
      text-decoration: none;
    }
  }
}

nav {
  width: $content-width;
  margin: 0 auto;
  font-size: 0.9em;
  text-align: center;
  a {
    display: inline-block;
    margin: 0 1em;
    color: $sub-color;
    text-decoration: none;
    &:visited {
      color: $sub-color;
    }
    &:hover {
      color: $primary-color;
    }
  }
}

footer {
  width: 100%;
//  background: $primary-color;
  position: absolute;
  bottom: 0;
  text-align: center;

  height: $footer-height;
  color: $sub-color;
}

#container {
  width: $content-width;
  margin: 0 auto;
  padding: $header-height 0 $footer-height*2 0;
  h2 {
    font-size: 1.5em;
  }
}

#wrapper {
  position: relative;
  min-height: 100%;
}

.clearfix {
  zoom:1;
  &:after {
    content: "";
    display: block;
    clear: both;
  }
}

/*--- fonts ---*/
.bold { font-weight: 700; }
.thin { color: $sub-sub-sub-color; }
.special-font { font-family: 'Cabin Sketch', 'cursive'; }

@font-face {
    font-family: 'LigatureSymbols';
    src: url('/fonts/LigatureSymbols-2.11.eot');
    src: url('/fonts/LigatureSymbols-2.11.eot?#iefix') format('embedded-opentype'),
         url('/fonts/LigatureSymbols-2.11.woff') format('woff'),
         url('/fonts/LigatureSymbols-2.11.ttf') format('truetype'),
         url('/fonts/LigatureSymbols-2.11.svg#LigatureSymbols') format('svg');
    src: url('/fonts/LigatureSymbols-2.11.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.symbol {
  font-family: 'LigatureSymbols';
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-size: 1.3em;
  line-height: 1.3em;
}
